@media only screen and (max-width: 1375px) {
    .products-container {
        width: 820px;
    }

    .products {
        grid-template-columns: repeat(3, 250px);
    }

    .product-2 {
        grid-column: span 2;
        background-position: 3% 50%;
        background-repeat: no-repeat;
        padding: 6vh;
        background-size: 300px;
    }

    .product-4 {
        grid-column: 2 / 3;
        background-position: 50% 25%;
        background-size: 190px;
        padding: 0;
    }

    .product-text-bed {
        margin-bottom: 10px;
        margin-top: 200px;
        margin-left: 20px;
        color: black;
        float: left;
        margin-right: 0px;
        margin-bottom: auto;
    }

    .product-text-table {
        float: right;
        margin-right: -30px;
        margin-top: 50px; 
        margin-left: 20px;
        color: black;
    }

    .product-name-table {
        font-size: 23px;
        line-height: 10px;
    }

    .product-description-table {
        font-size: 15px;
        line-height: 40px;
    }

    .product-cost-table {   
        font-size: 15px;
    }
}

@media only screen and (max-width: 1415px) { 
    .header-livingroom {
        display: none;
    }

    .side-button-1 .side-b {
        width: 60px;
        height: 60px;
        top: 1%;
        right: 5px;
    }

    .side-button-text-1 {
        transform: translate(0, 80%);
    }

    .side-button-text {
        transform: translate(0, 60%);
    }
    
}

@media only screen and (max-width: 1300px) { 
    .product-red {
        display: none;
    }
    
}

@media only screen and (max-width: 1080px) {
    .home {
        background-size: 120%;
    }

    .product-information {
        margin-top: 20vh;
    }

    .product-name {
        font-size: 43.5px;
    }
    
    .product-desc {
        display: flex;
        flex-direction: column;
    }
}

@media only screen and (max-width: 1080px) and (orientation: portrait) {
    .home {
        background-size: 200%;
    }

    .background-text {
        margin-top: 175px;
    }

    .left-menu {
        width: 7vw;
    }

    .left-menu img {
        width: 2em;
        height: auto;
        margin: 60% 0;
        left: 0;
    }

    .left-menu .icon-logo {
        margin-bottom: 80px;
        width: 35px;
        height: auto;
    }

    .left-menu .icon-load {
        margin-bottom: 40px;
        margin-left: auto;
        margin-right: auto;
        width: 30px;
        height: auto;
    }

    .li-category {
        margin-bottom: 3em;
    }
}


@media only screen and (max-width: 991px) {
    .product-photo-container {
        height: 65.7%;
    }

    .recommended-container {
        width: 93%;
        z-index: 5;
    }

    .product-red {
        display: inherit;
    }

    .products-rec {
        justify-content: space-around;
        margin-right: 20px;
    }

    .home {
        background-size: 200%;
    }

    .background-text {
        margin-top: 175px;
    }

    .header {
        font-size: 150px;
    }

    .header span {
        font-size: 25px;

    }

    .left-menu {
        width: 7.5vw;
    }

    .left-menu img {
        width: 30px;
        height: auto;
        margin: 60% 0;
    }

    .left-menu .icon-load {
        width: 25px;
        height: auto;
    }

    .product-photo-container {
        background-size: 300px;
    }

    .product-action {
        margin-right: 35px;
    }
    
    .like-count {
        margin-right: 35px;
    }

    .side-button-1 .side-b {
        right: 15px;
    }

    .products-container {
        width: 750px;
    }
}

@media only screen and (max-width: 960px) {
    .product-name {
        font-size: 35px;
    }

    .product-desc {
        font-size: 17px;
    }

    .cost-quantity-container {
        font-size: 15px;
    }

    .cost-actual {
        font-size: 30px;
    }

    .set-count {
        padding: 2.5px 15px;
    }

    .quantity-number {
        font-size: 20px;
    }   

    .quantity-set {
        margin-top: 12px;
    }

    .quantity-add-big {
        display: none;
     }

    .quantity-add-small {
        display: inherit;
        font-size: 30px;
        min-width: 0;
        padding: 0 20px;
        padding-bottom: 3px;
        font-weight: 300;
     }

     .header-name {
        font-size: 30px;
     }

     .products-container {
        width: 600px
    }

    .products {
        grid-template-rows: repeat(3, 300px);
        grid-template-columns: repeat(2, 300px);
        justify-content: center;
    }

    .product-2 {
        grid-column: 2 / 3;
        background-position: 50% 25%;
        background-size: 190px;
        padding: 0;
    }

    .product-text-table {
        margin-bottom: 10px;
        margin-top: 200px;
        margin-left: 20px;
        color: black;
        float: left;
        margin-right: 0px;
        margin-bottom: auto;
    }
}

@media only screen and (max-width: 860px) {
    .product-blue {
        display: none;
    }

    .product-black {
        margin-right: 40px;
    }

    .dark-seat {
        margin-left: 10px;
    }

    .products-container {
        width: 550px;
    }

    .products {
        grid-template-columns: repeat(2, 250px);
    }

    .header-category-image {
        margin-left: 0;
        margin-right: 30px;
    }
}

@media only screen and (max-width: 768px) {
    .product-photo-container {
        width: 47.5%;
    }

    .product-information {
        margin-left: 56vw;
        margin-top: 15vh;
    }

    .header-info {
        margin-left: 56vw;
    }

    .quantity-add-small {
        margin-left: 15px;
     }

     .header-room {
        margin-left: 0;
    }
}

@media only screen and (max-width: 736px) { 
    .header-name {
        display: none;
    }

    .header-room {
        margin-left: -20px;
    }

    .product-photo-container {
        background-position: center, 100%;
    }

    .search-form input {
        font-size: 50px;
        height: 60px;
    }

    .search-form button {
        font-size: 25px;
    }

    .search-tip {
        font-size: 18px;
    }

    .search-result {
        flex-direction: column;
        margin-top: 25px;
        white-space: nowrap;
    }

    .red-seat,
    .dark-seat {
        margin: 0;
        font-size: 35px;
    }

    .result-count {
        margin-top: 20px;
        font-size: 18px;
    }

    .side-panel {
        width: 220px;
    }

    .side-panel ul {
        transform: translate(0, 20%);
    }

    .show-all {
        left: 18%;
    }

    .products-container {
        width: 350px;
    }

    .header-products {
        font-size: 35px;
    }

    .header-container {
        display: flex;
        flex-direction: column;
    }

    .header-category-image {
        display: none;
    }

    .products {
        margin-left: 25px;
        grid-template-rows: repeat(5, 300px);
        grid-template-columns: repeat(1, 300px);
    }

    .product-2,
    .product-4 {
        grid-column: unset;
    }
}

@media only screen and (max-width: 717px) {
    .product-description-rec {
        display: none;
    }

    .pin {
        margin-right: 20px;
    }
}

@media only screen and (max-width: 600px) {
    .product-photo-container {
        width: 95%;
        height: 45%;
        background-size: 250px;
    }
    .product-scale {
        margin-bottom: 20px;
        margin-left: 40px;
    }

    .product-action {
        margin-bottom: 20px;
    }

    .like-count {
        margin: 0 0;
        margin-left: 40px;
        margin-top: 25px;
        float: left;
    }

    .product-information {
        width: 85%;
        margin-left: 12.5vw;
        margin-top: 47.5vh;
    }

    .recommended-container {
        height: 20%;
    }

    .product-name {
        font-size: 30px;
    }

    .product-desc {
        font-size: 15px;
        margin-top: 20px;
    }

    .recommended {
        transform: none;
        top: 0;
        margin: 10px 30px;
        font-size: 20px;
    }

    .products-rec {
        margin-top: 15px;
        margin-left: 0;
        margin-right: 0;
    }

    .product-black {
        background-size: 100px;
    }

    .product-blue {
        background-size: 100px;
    }

    .product-red {
        background-size: 100px;
    }

    .product-text-rec {
        display: hidden;
    }

}

@media only screen and (max-width: 480px) and (orientation: portrait) {
    .side-panel {
        right: -120%;
        width: 220px;
    }

    .side-panel ul {
        transform: translate(0, 15%);
    }

    .show-all {
        left: 18%;
    }

    .search-form input {
        font-size: 40px;
        height: 45px;
    }

    .search-form button {
        font-size: 20px;
        margin-bottom: 5px;
    }

    .search-tip {
        font-size: 14px;
    }

    .search-result {
        flex-direction: column;
        margin-top: 15px;
        white-space: unset;
    }

    .search-result img {
        height: 120px;
    }

    .products-container {
        width: 200px;
    }

    .products {
        margin-left: 25px;
        grid-template-rows: repeat(5, 300px);
        grid-template-columns: repeat(1, 220px);
    }

}

@media only screen and (max-width: 320px) and (orientation: portrait) {
    .left-menu {
        min-width: 30px;
    }

    .left-menu .icon-logo {
        width: 25px;
    }

    .left-menu img {
        width: 20px;
    }

    .left-menu .icon-load {
        width: 20px;
        height: auto;
    }

    .search-field-container {
        margin: 10vh 10vw 10vh 20vw;
    }

    .side-button-1 .side-b {
        width: 40px;
        height: 40px;
        top: 5px;
        right: 5px;
    }

    .side-button-text-1 {
        transform: translate(0, 40%);
    }

    .side-button-text {
        transform: translate(0, 20%);
    }

    .side-panel {
        right: -130%;
        width: 120px;
    }

    .side-panel ul {
        transform: translate(0, 20%);
        margin-right: 0.5em;
    }

    .li-category img {
        display: none;
    }

    .show-all {
        left: 2%;
    }

    .search-form {
        margin-bottom: 10px;
    }

    .search-form input {
        font-size: 22px;
        height: 30px;
    }

    .search-form button {
        font-size: 12px;
        margin-bottom: 5px;
    }

    .search-tip {
        font-size: 14px;
    }

    .search-result {
        flex-direction: column;
        margin-top: 10px;
        white-space: unset;
    }

    .search-result img {
        height: 70px;
    }

    .red-seat,
    .dark-seat {
        display: flex;
        flex-direction: column;
        margin-bottom: 15px;
        font-size: 20px;
    }

    .result-count {
        margin-top: 25px;
        font-size: 14px;
    }

    .header-products {
        font-size: 24px;
        display: flex;
    }

    .products-container {
        width: 150px;
    }

    .products {
        margin-left: 25px;
        grid-template-rows: repeat(5, 300px);
        grid-template-columns: repeat(1, 180px);
    }

    .product-description,
    .product-description-table {
        line-height: 20px;
    }
}
